<a href="https://colab.research.google.com/github/dmorton714/SQL_Test/blob/main/SQL_m3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## makes local CSV files ignore for now

In [ ]:
# import pandas as pd
# import random
# import numpy as np

# random.seed(42)
# np.random.seed(42)

# # 1. Generate Students Data
# student_ids = list(range(1, 31))
# first_names = [f"FirstName_{i}" for i in student_ids]
# last_names = [f"LastName_{i}" for i in student_ids]
# grade_levels = np.random.choice(['10th', '11th', '12th'], size=30)
# emails = [f"student{i}@school.com" for i in student_ids]

# students_df = pd.DataFrame({
#     'student_id': student_ids,
#     'first_name': first_names,
#     'last_name': last_names,
#     'grade_level': grade_levels,
#     'email': emails
# })

# # 2. Assignments Data
# assignment_ids = list(range(1, 11))
# assignment_names = [f"Assignment_{i}" for i in assignment_ids]
# due_dates = pd.date_range(start='2024-09-01', periods=10, freq='W')

# assignments_df = pd.DataFrame({
#     'assignment_id': assignment_ids,
#     'assignment_name': assignment_names,
#     'due_date': due_dates
# })

# # 3. Grades Data
# grades_data = []
# for student_id in student_ids:
#     for assignment_id in assignment_ids:
#         grades_data.append({
#             'grade_id': len(grades_data) + 1,
#             'student_id': student_id,
#             'assignment_id': assignment_id,
#             'grade': random.choice(['A', 'B', 'C', 'D', 'F'])
#         })

# grades_df = pd.DataFrame(grades_data)

# # 4. Participation and Behavior Data
# participation_behavior_data = []
# for student_id in student_ids:
#     participation_behavior_data.append({
#         'record_id': len(participation_behavior_data) + 1,
#         'student_id': student_id,
#         'attendance': random.choice(['Present', 'Absent']),
#         'participation_grade': random.randint(1, 10),
#         'behavior_grade': random.randint(1, 10)
#     })

# participation_behavior_df = pd.DataFrame(participation_behavior_data)

# # Save data locally
# students_df.to_csv('students.csv', index=False)
# assignments_df.to_csv('assignments.csv', index=False)
# grades_df.to_csv('grades.csv', index=False)
# participation_behavior_df.to_csv('participation_behavior.csv', index=False)

# print("Datasets generated and saved as CSV files.")

# students = pd.read_csv('students.csv')
# assignments = pd.read_csv('assignments.csv')
# grades = pd.read_csv('grades.csv')
# participation_behavior = pd.read_csv('participation_behavior.csv')

## Data Creation

In [ ]:
import pandas as pd
import random
import numpy as np
import sqlite3

random.seed(42)
np.random.seed(42)

first_names_list = ["John", "Jane", "Alex", "Emily", "Chris", "Katie", "Michael", "Sarah", "David", "Laura",
                    "James", "Anna", "Robert", "Olivia", "Daniel", "Sophia", "Matthew", "Emma", "Joshua", "Isabella",
                    "Ryan", "Mia", "Andrew", "Ava", "Brandon", "Grace", "Tyler", "Chloe", "Zach", "Lily"]

last_names_list = ["Smith", "Johnson", "Williams", "Brown", "Jones", "Garcia", "Miller", "Davis", "Rodriguez", "Martinez",
                   "Hernandez", "Lopez", "Gonzalez", "Wilson", "Anderson", "Thomas", "Taylor", "Moore", "Jackson", "Martin",
                   "Lee", "Perez", "Thompson", "White", "Harris", "Sanchez", "Clark", "Ramirez", "Lewis", "Robinson"]

# 1.Students Data
students_dict = {
    'student_id': list(range(1, 31)),
    'first_name': random.sample(first_names_list, 30),
    'last_name': random.sample(last_names_list, 30),
    'grade_level': np.random.choice(['10th', '11th', '12th'], size=30).tolist(),
    'email': [f"student{i}@school.com" for i in range(1, 31)]
}

# 2.Assignments Data
assignments_dict = {
    'assignment_id': list(range(1, 11)),
    'assignment_name': [f"Assignment_{i}" for i in range(1, 11)],
    'due_date': pd.date_range(start='2024-09-01', periods=10, freq='W').strftime('%Y-%m-%d').tolist()
}

# # 3.Grades Data
# grades_data = []
# for student_id in students_dict['student_id']:
#     for assignment_id in assignments_dict['assignment_id']:
#         grades_data.append({
#             'grade_id': len(grades_data) + 1,
#             'student_id': student_id,
#             'assignment_id': assignment_id,
#             'grade': random.choice(['A', 'B', 'C', 'D', 'F'])
#         })
# grades_dict = pd.DataFrame(grades_data).to_dict(orient='list')

grades_data = []
grade_to_score = {
    'A': (90, 100),
    'B': (80, 89),
    'C': (70, 79),
    'D': (60, 69),
    'F': (0, 59)
}

for student_id in students_dict['student_id']:
    for assignment_id in assignments_dict['assignment_id']:
        letter_grade = random.choice(['A', 'B', 'C', 'D', 'F'])
        score_range = grade_to_score[letter_grade]
        numeric_score = random.randint(score_range[0], score_range[1])

        grades_data.append({
            'grade_id': len(grades_data) + 1,
            'student_id': student_id,
            'assignment_id': assignment_id,
            'grade': letter_grade,
            'numeric_score': numeric_score
        })

grades_dict = pd.DataFrame(grades_data).to_dict(orient='list')

# 4.Participation and Behavior Data
participation_behavior_data = []
for student_id in students_dict['student_id']:
    participation_behavior_data.append({
        'record_id': len(participation_behavior_data) + 1,
        'student_id': student_id,
        'attendance': random.choice(['Present', 'Absent']),
        'participation_grade': random.randint(1, 10),
        'behavior_grade': random.randint(1, 10)
    })
participation_behavior_dict = pd.DataFrame(participation_behavior_data).to_dict(orient='list')

students = pd.DataFrame(students_dict)
assignments = pd.DataFrame(assignments_dict)
grades = pd.DataFrame(grades_dict)
participation_behavior = pd.DataFrame(participation_behavior_dict)

In [ ]:
def generate_markdown_table_schema(df, table_name):
    markdown = f"### `{table_name}` Table Schema\n\n"
    markdown += "| Column Name | Data Type |\n"
    markdown += "|-------------|-----------|\n"

    for column in df.columns:
        dtype = df[column].dtype
        if pd.api.types.is_integer_dtype(dtype):
            sql_type = "INTEGER"
        elif pd.api.types.is_float_dtype(dtype):
            sql_type = "REAL"
        else:
            sql_type = "TEXT"

        markdown += f"| {column} | {sql_type} |\n"

    return markdown

students_markdown_schema = generate_markdown_table_schema(students, "students")
# print(students_markdown_schema)

assignments_markdown_schema = generate_markdown_table_schema(assignments, "assignments")
# print(assignments_markdown_schema)

grades_markdown_schema = generate_markdown_table_schema(grades, "grades")
# print(grades_markdown_schema)

participation_behavior_markdown_schema = generate_markdown_table_schema(participation_behavior, "participation_behavior")
# print(participation_behavior_markdown_schema)

conn = sqlite3.connect(':memory:')
students.to_sql('students', conn, index=False, if_exists='replace')
assignments.to_sql('assignments', conn, index=False, if_exists='replace')
grades.to_sql('grades', conn, index=False, if_exists='replace')
participation_behavior.to_sql('participation_behavior', conn, index=False, if_exists='replace')

def sql(a_string):
    global conn
    return pd.read_sql_query(a_string, conn)

# Table Schemas

Hidden for refrence while working

<!-- ### `students` Table Schema

| Column Name | Data Type |
|-------------|-----------|
| student_id | INTEGER |
| first_name | TEXT |
| last_name | TEXT |
| grade_level | TEXT |
| email | TEXT |

### `assignments` Table Schema

| Column Name | Data Type |
|-------------|-----------|
| assignment_id | INTEGER |
| assignment_name | TEXT |
| due_date | TEXT |


### `grades` Table Schema

| Column Name | Data Type |
|-------------|-----------|
| grade_id | INTEGER |
| student_id | INTEGER |
| assignment_id | INTEGER |
| grade | TEXT |

### `participation_behavior` Table Schema

| Column Name | Data Type |
|-------------|-----------|
| record_id | INTEGER |
| student_id | INTEGER |
| attendance | TEXT |
| participation_grade | INTEGER |
| behavior_grade | INTEGER |  -->

# Table Schemas

<table>
  <tr>
    <td>
      <h3>students Table Schema</h3>
      <table border="1">
        <tr><th>Column Name</th><th>Data Type</th></tr>
        <tr><td>student_id</td><td>INTEGER</td></tr>
        <tr><td>first_name</td><td>TEXT</td></tr>
        <tr><td>last_name</td><td>TEXT</td></tr>
        <tr><td>grade_level</td><td>TEXT</td></tr>
        <tr><td>email</td><td>TEXT</td></tr>
      </table>
    </td>
    <td>
      <h3>assignments Table Schema</h3>
      <table border="1">
        <tr><th>Column Name</th><th>Data Type</th></tr>
        <tr><td>assignment_id</td><td>INTEGER</td></tr>
        <tr><td>assignment_name</td><td>TEXT</td></tr>
        <tr><td>due_date</td><td>TEXT</td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <h3>grades Table Schema</h3>
      <table border="1">
        <tr><th>Column Name</th><th>Data Type</th></tr>
        <tr><td>grade_id</td><td>INTEGER</td></tr>
        <tr><td>student_id</td><td>INTEGER</td></tr>
        <tr><td>assignment_id</td><td>INTEGER</td></tr>
        <tr><td>grade</td><td>TEXT</td></tr>
        <tr><td>numeric_score</td><td>INTEGER</td></tr>
      </table>
    </td>
    <td>
      <h3>participation_behavior Table Schema</h3>
      <table border="1">
        <tr><th>Column Name</th><th>Data Type</th></tr>
        <tr><td>record_id</td><td>INTEGER</td></tr>
        <tr><td>student_id</td><td>INTEGER</td></tr>
        <tr><td>attendance</td><td>TEXT</td></tr>
        <tr><td>participation_grade</td><td>INTEGER</td></tr>
        <tr><td>behavior_grade</td><td>INTEGER</td></tr>
      </table>
    </td>
  </tr>
</table>

# Exercise 1: Basic Queries

## Basic Query Objectives

In this exercise, you will:

1. **Use the `SELECT` Statement:**
   - Retrieve specific columns from a table.

2. **Filter Results with the `WHERE` Clause:**
   - Apply conditions to filter the data returned by the query.

3. **Sort Data with the `ORDER BY` Clause:**
   - Arrange the results in a specified order.

4. **Combine All Three Techniques:**
   - Create a query that integrates `SELECT`, `WHERE`, and `ORDER BY` to retrieve and organize data according to specified criteria.

For this excercise we will use the Students table

### `students` Table Schema

| Column Name | Data Type |
|-------------|-----------|
| student_id | INTEGER |
| first_name | TEXT |
| last_name | TEXT |
| grade_level | TEXT |
| email | TEXT |

Preform a Select Query:

- `SELECT *`: This part of the query specifies that you want to retrieve all columns from the table.
- `FROM students`: This specifies the table from which to retrieve the data, which is `students` in this case.
- The semicolon (`;`) at the end of the query denotes the end of the SQL command.

In [ ]:
select_query = """
SELECT * FROM students;
"""

sql(select_query).head()

   student_id first_name last_name grade_level                email
0           1       Ryan   Sanchez        12th  student1@school.com
1           2      Emily   Ramirez        10th  student2@school.com
2           3       John     Smith        12th  student3@school.com
3           4        Ava    Harris        12th  student4@school.com
4           5      David  Robinson        10th  student5@school.com

In [ ]:
def select_test():
    select = sql(select_query)
    if select is not None:
        if select.shape == (30, 5):
            print("Select query was successful")
        else:
            print("Select query returned unexpected shape")
    else:
        print("Select query was not successful")


select_test()

Select query was successful

## Perform a Select Query with Filtering:

- `SELECT *`: This part of the query retrieves all columns from the table.
- `FROM students`: Specifies the table from which to retrieve the data, which is `students`.
- `WHERE grade_level = '12th'`: Filters the results to include only rows where the `grade_level` column is equal to `'12th'`.
- The semicolon (`;`) at the end of the query denotes the end of the SQL command.

In [ ]:
where_query = """
SELECT *
FROM students
WHERE grade_level = '12th';
"""

sql(where_query)

    student_id first_name  last_name grade_level                 email
0            1       Ryan    Sanchez        12th   student1@school.com
1            3       John      Smith        12th   student3@school.com
2            4        Ava     Harris        12th   student4@school.com
3            7    Brandon   Thompson        12th   student7@school.com
4            9       Zach  Hernandez        12th   student9@school.com
5           10       Emma  Rodriguez        12th  student10@school.com
6           11       Alex      Jones        12th  student11@school.com
7           12     Joshua     Miller        12th  student12@school.com
8           14       Jane      Brown        12th  student14@school.com
9           28      James     Thomas        12th  student28@school.com
10          29     Daniel      White        12th  student29@school.com
11          30   Isabella   Anderson        12th  student30@school.com

In [ ]:
def where_test():
    where_result = sql(where_query)
    if where_result is not None:
        if all(where_result['grade_level'] == '12th'):
            print("WHERE query was successful: All rows have grade_level '12th'")
        else:
            incorrect_grades = where_result['grade_level'].unique()
            print(f"WHERE query returned rows with unexpected grade levels: {incorrect_grades}")
    else:
        print("WHERE query was not successful")

where_test()

WHERE query was successful: All rows have grade_level '12th'

## Perform a Select Query with Sorting:

- `SELECT *`: This part of the query retrieves all columns from the table.
- `FROM students`: Specifies the table from which to retrieve the data, which is `students`.
- `ORDER BY last_name ASC`: Sorts the results by the `last_name` column in ascending order (`ASC`).
- The semicolon (`;`) at the end of the query denotes the end of the SQL command.

In [ ]:
orderby_query = """
SELECT *
FROM students
ORDER BY last_name ASC;
"""

sql(orderby_query).head()

   student_id first_name last_name grade_level                 email
0          30   Isabella  Anderson        12th  student30@school.com
1          14       Jane     Brown        12th  student14@school.com
2          18       Lily     Clark        11th  student18@school.com
3          23     Robert     Davis        11th  student23@school.com
4           6      Sarah    Garcia        10th   student6@school.com

In [ ]:
def orderby_test(order='ASC'):
    orderby_result = sql(orderby_query).head()
    if orderby_result is not None:
        if order == 'ASC':
            expected_order = orderby_result['last_name'].sort_values(ascending=True)
        elif order == 'DESC':
            expected_order = orderby_result['last_name'].sort_values(ascending=False)
        else:
            print("Invalid order specified. Use 'ASC' or 'DESC'.")
        if (orderby_result['last_name'].values == expected_order.values).all():
            print(f"ORDER BY query was successful: First few rows are sorted by last_name in {order} order")
        else:
            incorrect_order = orderby_result['last_name'].tolist()
            print(f"ORDER BY query did not sort correctly. Incorrect order detected in the first few rows: {incorrect_order}")
    else:
        print("ORDER BY query was not successful")

orderby_test(order='ASC')

ORDER BY query was successful: First few rows are sorted by last_name in ASC order

## Perform a Select Query with Filtering and Sorting:

- `SELECT *`: Retrieves all columns from the table.
- `FROM students`: Specifies the table from which to retrieve the data, which is `students`.
- `WHERE grade_level = '12th'`: Filters the results to include only rows where the `grade_level` column is `'12th'`.
- `ORDER BY last_name ASC`: Sorts the filtered results by the `last_name` column in ascending order (`ASC`).
- The semicolon (`;`) at the end of the query denotes the end of the SQL command.

In [ ]:
multi_query = """
SELECT * FROM students
WHERE grade_level = '12th'
ORDER BY last_name ASC;
"""

sql(multi_query).head()

   student_id first_name  last_name grade_level                 email
0          30   Isabella   Anderson        12th  student30@school.com
1          14       Jane      Brown        12th  student14@school.com
2           4        Ava     Harris        12th   student4@school.com
3           9       Zach  Hernandez        12th   student9@school.com
4          11       Alex      Jones        12th  student11@school.com

In [ ]:
def multi_query_test():
    multi_result = sql(multi_query).head()

    if multi_result is not None:
        if not all(multi_result['grade_level'] == '12th'):
            incorrect_grades = multi_result['grade_level'].unique().tolist()
            print(f"WHERE clause failed: Found grade levels other than '12th': {incorrect_grades}")

        expected_order = multi_result['last_name'].sort_values(ascending=True)
        if (multi_result['last_name'].values == expected_order.values).all():
            print("Multi-query was successful: All rows have grade_level '12th' and are sorted by last_name in ascending order")
        else:
            incorrect_order = multi_result['last_name'].tolist()
            print(f"ORDER BY clause failed: Incorrect order detected in the first few rows: {incorrect_order}")
    else:
        print("Multi-query was not successful")

multi_query_test()

Multi-query was successful: All rows have grade_level '12th' and are sorted by last_name in ascending order

## What We Learned

1. **Basic Query Retrieval:**
   - **Query:** `SELECT * FROM students;`
   - **Learning:** This query retrieves all columns and rows from the `students` table. It shows how to use the `SELECT` statement to access the entire dataset from a specified table.

2. **Filtering Results:**
   - **Query:** `SELECT * FROM students WHERE grade_level = '12th';`
   - **Learning:** This query filters the results to include only those rows where the `grade_level` is `'12th'`. It demonstrates how to use the `WHERE` clause to specify conditions and limit the data retrieved based on criteria.

3. **Sorting Results:**
   - **Query:** `SELECT * FROM students ORDER BY last_name ASC;`
   - **Learning:** This query retrieves all rows from the `students` table and sorts them by the `last_name` column in ascending order. It shows how to use the `ORDER BY` clause to arrange the data in a specified order.

4. **Combining Filtering and Sorting:**
   - **Query:** `SELECT * FROM students WHERE grade_level = '12th' ORDER BY last_name ASC;`
   - **Learning:** This query combines both filtering and sorting. It retrieves rows where `grade_level` is `'12th'` and then sorts these filtered results by `last_name` in ascending order. This demonstrates how to integrate multiple clauses to refine and organize the data retrieval.

By performing these queries, we learned how to retrieve data from a table, apply filters to focus on specific records, sort the results, and combine these techniques to produce more targeted and organized data output.

# Exercise 2

The goal of this exercise is to perform 2 of the 4 different types of SQL joins.

The 4 types of joins are:
- Inner Join
- Left Join
- Right Join
- Full Outer Join

Left Join:

Using the two tables, `students` and `grades`. Your task is to write an SQL query to retrieve a list of all students along with their corresponding grades for any assignments they have completed.

Left Join Instructions:

1. Use the `students` table as the primary table.
1. Perform a `LEFT JOIN` with the `grades` table on the common `student_id` column.
1. Select the following columns in your query:
  - `student_id` from the `students` table
  - `first_name` from the `students` table
  - `last_name` from the `students` table
  - `assignment_id` from the `grades` table
  - `grade` from the `grades` table

In [ ]:
left_join_query = """
SELECT students.student_id, students.first_name, students.last_name, grades.assignment_id, grades.grade
FROM students
LEFT JOIN grades ON students.student_id = grades.student_id;
"""

left_join = sql(left_join_query)

In [ ]:
left_join.head()

   student_id first_name last_name  assignment_id grade
0           1       Ryan   Sanchez              1     F
1           1       Ryan   Sanchez              2     A
2           1       Ryan   Sanchez              3     B
3           1       Ryan   Sanchez              4     A
4           1       Ryan   Sanchez              5     A

In [ ]:
def left_join_test():
    left_join_result = sql(left_join_query)

    if left_join_result is not None:
        expected_columns = ['student_id', 'first_name', 'last_name', 'assignment_id', 'grade']

        if left_join_result.shape == (300, 5):
            print("LEFT JOIN query shape is correct: (300, 5)")
        else:
            print(f"LEFT JOIN query failed: The result has an unexpected shape of {left_join_result.shape}")
            return

        actual_columns = list(left_join_result.columns)
        missing_columns = [col for col in expected_columns if col not in actual_columns]

        if not missing_columns:
            print("LEFT JOIN query contains all expected columns.")
        else:
            print(f"LEFT JOIN query is missing columns: {missing_columns}")
    else:
        print("LEFT JOIN query was not successful")

left_join_test()

LEFT JOIN query shape is correct: (300, 5)
LEFT JOIN query contains all expected columns.

Inner join Instructions:
1. Use the students table as the primary table.
1. Perform an INNER JOIN with the grades table on the common student_id column.
1. Select the following columns in your query:

  - student_id from the students table
  - first_name from the students table
  - last_name from the students table
  - assignment_id from the grades table
  - grade from the grades table

1. Ensure that only the records where there is a matching student_id in both the students and grades tables are included in your result.

In [ ]:
inner_join_query = """
SELECT students.first_name, students.last_name, grades.grade
FROM students
INNER JOIN grades ON students.student_id = grades.student_id;
"""

inner_join = sql(inner_join_query)
inner_join.head()

  first_name last_name grade
0       Ryan   Sanchez     A
1       Ryan   Sanchez     A
2       Ryan   Sanchez     A
3       Ryan   Sanchez     A
4       Ryan   Sanchez     B

In [ ]:
def inner_join_test():
    inner_join_result = sql(inner_join_query)

    if inner_join_result is not None:
        expected_columns = ['first_name', 'last_name', 'grade']

        if inner_join_result.shape == (300, 3):
            print("INNER JOIN query shape is correct: (300, 3)")
        else:
            print(f"INNER JOIN query failed: The result has an unexpected shape of {inner_join_result.shape}")
            return

        actual_columns = list(inner_join_result.columns)
        missing_columns = [col for col in expected_columns if col not in actual_columns]

        if not missing_columns:
            print("INNER JOIN query contains all expected columns.")
        else:
            print(f"INNER JOIN query is missing columns: {missing_columns}")
    else:
        print("INNER JOIN query was not successful")

inner_join_test()

INNER JOIN query shape is correct: (300, 3)
INNER JOIN query contains all expected columns.

# Exercise 3

### Goals for this exercise
The goal of this exercuse is to:
- Insert a new record into the `students` table with specific values.
- Delete the new record in the `students` table.
- UPDATE

### Inserting a Record
Insert a new record into the `students` table with specific values.

### Step-by-Step Guide

1. **Identify the Table:**
   - Determine which table you need to `insert` data into. In this case, it is the `students` table.

2. **Specify the Columns:**
   - List the columns that will receive the new data. For this task, the columns are `student_id` = 31, `first_name` = John, `last_name` = Doe, `grade_level` = 12, and `email` = student31@school.com.

3. **Prepare the VALUES Clause:**
   - Decide the values you want to insert for each column. Ensure that the values match the data types expected by the columns.

4. **Write the SQL Query:**
   - Use the `INSERT INTO` statement to specify the table and columns.
   - Follow with the `VALUES` keyword to provide the values.

In [ ]:
insert_query = """
INSERT INTO students (student_id, first_name, last_name, grade_level, email)
VALUES (31, 'John', 'Doe', 12, 'student31@school.com')
"""

conn.execute(insert_query)
conn.commit()

In [ ]:
student_31 = sql("SELECT * FROM students WHERE student_id = 31")
student_31

   student_id first_name last_name grade_level                 email
0          31       John       Doe          12  student31@school.com

In [ ]:
def insert_test():
    student_31_check = sql("SELECT * FROM students WHERE student_id = 31")

    if student_31_check is not None and not student_31_check.empty:
        student_row = student_31_check.iloc[0]

        if (student_row['student_id'] == 31 and
            student_row['first_name'].strip() == 'John' and
            student_row['last_name'].strip() == 'Doe' and
            int(student_row['grade_level']) == 12 and
            student_row['email'].strip() == 'student31@school.com'):
            print("INSERT query was successful")
        else:
            print("INSERT query returned unexpected data")
            print("Actual data:", student_row)
    else:
        print("INSERT query was not successful")

insert_test()

INSERT query was successful

### Deleting a Record
Remove a specific record from the `students` table based on the `student_id`.

### Step-by-Step Guide

1. **Identify the Table:**
   - Determine from which table you need to delete data. In this case, it is the `students` table.

2. **Specify the Condition:**
   - Identify the specific record to delete by setting a condition. For this task, the condition is `student_id = 31`.

3. **Write the SQL Query:**
   - Use the `DELETE FROM` statement to specify the table.
   - Follow with a `WHERE` clause to define the condition for which row to delete. In this case, it is `WHERE student_id = 31`.

4. **Confirm the Deletion:**
   - Always check that your condition is correct to avoid accidentally deleting the wrong data or more records than intended.

In [ ]:
delete_query = """
DELETE FROM students WHERE student_id = 31
"""

conn.execute(delete_query)
conn.commit()

student_31_check = sql("SELECT * FROM students WHERE student_id = 31")
student_31_check

Empty DataFrame
Columns: [student_id, first_name, last_name, grade_level, email]
Index: []

In [ ]:
def delete_test():
    student_31_check = sql("SELECT * FROM students WHERE student_id = 31")

    if student_31_check is None or student_31_check.empty:
        print("DELETE query was successful")
    else:
        print("DELETE query failed")
        print("Student still exists:", student_31_check)

delete_test()

DELETE query was successful

In [ ]:
def insert_query():
  insert_query = """
INSERT INTO students (student_id, first_name, last_name, grade_level, email)
VALUES (31, 'John', 'Doe', 12, 'student31@school.com')
"""

  conn.execute(insert_query)
  conn.commit()
  return insert_query

insert_query()

"\nINSERT INTO students (student_id, first_name, last_name, grade_level, email)\nVALUES (31, 'John', 'Doe', 12, 'student31@school.com')\n"

We have added back student_id 31 John Doe witht he above code.

### Updating a Record

In this scenario, we mistakenly entered John Doe's name incorrectly. Instead of adding a new record, we can modify the existing one and update the first name to `Jane`.

### Step-by-Step Guide

1. **Identify the Table:**
   - Determine which table contains the record you want to update. In this case, it's the `students` table.

2. **Use the `UPDATE` Clause:**
   - The `UPDATE` clause allows you to modify existing records in a table.

3. **Set the New Value:**
   - Use the `SET` keyword to specify the column you want to update and the new value. Here, you'll set `first_name` to `Jane`.

4. **Apply a Condition:**
   - Use the `WHERE` clause to identify the specific record you want to update. For this task, update the record where `student_id = 31`.

In [ ]:
update_query = """
UPDATE students SET first_name = 'Jane' WHERE student_id = 31
"""

conn.execute(update_query)
conn.commit()

student_31 = sql("SELECT * FROM students WHERE student_id = 31")
student_31

   student_id first_name last_name grade_level                 email
0          31       Jane       Doe          12  student31@school.com

In [ ]:
def update_query_test():
    student_31_check = sql("SELECT * FROM students WHERE student_id = 31")
    if student_31_check is not None and not student_31_check.empty:
        student_row = student_31_check.iloc[0]

        if (student_row['student_id'] == 31 and
            student_row['first_name'].strip() == 'Jane' and
            student_row['last_name'].strip() == 'Doe' and
            int(student_row['grade_level']) == 12 and
            student_row['email'].strip() == 'student31@school.com'):
            print("UPDATE query was successful")
            return
        else:
            print("UPDATE query returned unexpected data")
            print("Actual data:", student_row)
    else:
        print("UPDATE query was not successful")

update_query_test()

UPDATE query was successful

In [ ]:
def delete_query():
  delete_query = """
DELETE FROM students WHERE student_id = 31
"""

  conn.execute(delete_query)
  conn.commit()
  return print("Student 31 has been removed")

delete_query()

Student 31 has been removed

In [ ]:
query = """
SELECT * FROM students WHERE student_id = 31
"""

sql(query)

Empty DataFrame
Columns: [student_id, first_name, last_name, grade_level, email]
Index: []

# exercise 4

Advanced Queries and Filtering
Objective: Deepen understanding of SQL querying with complex filters and aggregations.

Topics:

Complex Filtering:
- Logical operators (AND, OR, NOT).
- BETWEEN, IN, and LIKE operators.
Aggregations:
- GROUP BY clause.
- Aggregate functions (COUNT, SUM, AVG, MAX, MIN)

### Writing a Query with a using a logical operator

Write a SQL query to retrieve a list of 12th-grade students along with their grades, including those who might not have a grade recorded yet.

### Instructions:
1. **Use a `LEFT JOIN`** to combine the `students` table with the `grades` table. This will ensure that all students are included in the result, even if they don't have a grade recorded.
2. **Filter for 12th-grade students** by setting a condition on the `grade_level` column.
3. **Include only students who have an 'A' or 'B' grade**, or students with no grade at all.
4. **Select the following columns** to be returned in the result:
   - `student_id`, `first_name`, `last_name`, `grade_level` from the `students` table.
   - `grade` from the `grades` table.

In [ ]:
Logical_operators = """
SELECT
    students.student_id,
    students.first_name,
    students.last_name,
    students.grade_level,
    grades.grade
FROM
    students
LEFT JOIN grades ON students.student_id = grades.student_id
WHERE
    students.grade_level = '12th'
    AND (grades.grade = 'A' OR grades.grade = 'B')
"""

sql(Logical_operators).head()

   student_id first_name last_name grade_level grade
0           1       Ryan   Sanchez        12th     A
1           1       Ryan   Sanchez        12th     A
2           1       Ryan   Sanchez        12th     A
3           1       Ryan   Sanchez        12th     A
4           1       Ryan   Sanchez        12th     B

### Writing a Query with BETWEEN, IN, and LIKE

Write a SQL query to retrieve student information from the `students` table along with their grades from the `grades` table. Use the following guidelines:

1. **Select Columns**: Retrieve the `student_id`, `first_name`, `last_name`, and `grade_level` from the `students` table. Also retrieve the `grade` from the `grades` table.
2. **Join**: Use an `INNER JOIN` to connect the `students` table with the `grades` table on the `student_id` column.
3. **Filter Conditions**:
   - Only include students whose `student_id` is between 1 and 7.
   - Filter the students so that their `first_name` starts with the letter 'A' or 'J'.
   - Only include students whose grades are either 'A', 'B', or 'C'.

Write the query to meet all of the above conditions.

In [ ]:
filter_query = """
SELECT
    students.student_id,
    students.first_name,
    students.last_name,
    students.grade_level,
    grades.grade
FROM
    students
INNER JOIN grades ON students.student_id = grades.student_id
WHERE
    students.student_id BETWEEN 1 AND 7
    AND (students.first_name LIKE 'A%' OR students.first_name LIKE 'J%')
    AND grades.grade IN ('A', 'B', 'C');
"""

filter_result = sql(filter_query)
filter_result

    student_id first_name last_name grade_level grade
0            3       John     Smith        12th     B
1            3       John     Smith        12th     B
2            3       John     Smith        12th     C
3            3       John     Smith        12th     C
4            3       John     Smith        12th     C
5            4        Ava    Harris        12th     A
6            4        Ava    Harris        12th     A
7            4        Ava    Harris        12th     A
8            4        Ava    Harris        12th     A
9            4        Ava    Harris        12th     B
10           4        Ava    Harris        12th     C

In [ ]:
def test_filter_query_result(filter_result):
    if filter_result is not None and not filter_result.empty:
        expected_columns = ['student_id', 'first_name', 'last_name', 'grade_level', 'grade']

        if list(filter_result.columns) == expected_columns:
            print("Column test passed")
        else:
            print("Column test failed")

        first_name = filter_result['first_name'].iloc[0].lower()
        if first_name.startswith(('a', 'j')):
            print("Name test passed")
        else:
            print("Name test failed")

        student_id = filter_result['student_id'].iloc[0]
        if 1 <= student_id <= 7:
            print("ID test passed")
        else:
            print("ID test failed it")

        valid_grade_levels = {'10th', '11th', '12th'}
        grade_level_value = filter_result['grade_level'].iloc[0]
        if str(grade_level_value).strip() in valid_grade_levels:
            print("Grade level test passed")
        else:
            print("Grade level test failed")
    else:
        print("Filter result is None or empty")

test_filter_query_result(filter_result)

Column test passed
Name test passed
ID test passed
Grade level test passed

### Write a Group By Query Averaging Grades

Write a SQL query to calculate the average numeric grade for each `grade_level`. Follow these steps:

1. **Select Columns**:
   - Retrieve `grade_level` from the `students` table.
   - Calculate the average of the numeric score from the `grades` table and label it as `average_grade`.

2. **Join Tables**:
   - Use an `INNER JOIN` to combine the `students` table with the `grades` table based on the `student_id` column.

3. **Group By**:
   - Group the results by `grade_level` from the `students` table.

In [ ]:
groupby_query = """
SELECT
    students.grade_level,
    AVG(grades.numeric_score) AS average_grade
FROM
    students
INNER JOIN grades ON students.student_id = grades.student_id
GROUP BY
    students.grade_level;
"""

groupby_result = sql(groupby_query)
groupby_result

  grade_level  average_grade
0        10th      72.660000
1        11th      70.925000
2        12th      69.066667

In [ ]:
def groupby_query_test(groupby_query):
    query = """
    SELECT
        students.grade_level,
        AVG(grades.numeric_score) AS average_grade
    FROM
        students
    INNER JOIN grades ON students.student_id = grades.student_id
    GROUP BY
        students.grade_level;
    """
    result = sql(query)

    assert result is not None and not result.empty, "Query returned no results"

    expected_columns = ['grade_level', 'average_grade']
    assert list(result.columns) == expected_columns, "Column names do not match"

    grouped_levels = result['grade_level'].unique()
    for level in grouped_levels:
        level_data = result[result['grade_level'] == level]
        expected_average = level_data['average_grade'].mean()
        actual_average = level_data['average_grade'].iloc[0]
        assert abs(expected_average - actual_average) < 1e-6, f"Average grade for {level} is incorrect"

    print("Test passed successfully")


groupby_query_test(groupby_query)

Test passed successfully

### Task: Calculate the Average Numeric Score by Grade Level Using a CASE Statement

Write a SQL query to calculate the average numeric score for each `grade_level` using the `CASE` statement. Follow these steps:

1. **Select Columns**:
   - Retrieve `grade_level` from the `students` table.
   - Calculate the average numeric score for grades from the `grades` table and label it as `average_grade`. Use the following numeric mapping for grades:
     - 'A' = 4
     - 'B' = 3
     - 'C' = 2
     - 'D' = 1
     - Any other grade should be treated as 0.

2. **Join Tables**:
   - Use an `INNER JOIN` to combine the `students` table with the `grades` table based on the `student_id` column.

3. **Group By**:
   - Group the results by `grade_level` from the `students` table.

In [ ]:
gpa_query = """
SELECT
    students.grade_level,
    AVG(
        CASE
            WHEN grades.grade = 'A' THEN 4
            WHEN grades.grade = 'B' THEN 3
            WHEN grades.grade = 'C' THEN 2
            When grades.grade = 'D' THEN 1
            ELSE 0
        END
    ) AS average_grade
FROM
    students
INNER JOIN grades ON students.student_id = grades.student_id
GROUP BY
    students.grade_level;
"""

gpa_result = sql(gpa_query)
gpa_result

  grade_level  average_grade
0        10th       2.170000
1        11th       2.175000
2        12th       1.916667

In [ ]:
def test_gpa_query(gpa_result):
    assert gpa_result is not None and not gpa_result.empty, "Query returned no results"

    expected_columns = ['grade_level', 'average_grade']
    assert list(gpa_result.columns) == expected_columns, "Column names do not match"

    expected_data = {
        'grade_level': ['10th', '11th', '12th'],
        'average_grade': [2.170000, 2.175000, 1.916667]
    }
    expected_df = pd.DataFrame(expected_data)

    for index, row in gpa_result.iterrows():
        grade_level = row['grade_level']
        average_grade = row['average_grade']

        expected_row = expected_df[expected_df['grade_level'] == grade_level]
        if not expected_row.empty:
            expected_value = expected_row['average_grade'].values[0]
            assert abs(expected_value - average_grade) < 1e-6, f"Average grade for {grade_level} is incorrect"

    print("Test passed successfully")

test_gpa_query(gpa_result)

Test passed successfully

### Case Expressions:

A `CASE` expression is used to evaluate conditions and return values based on those conditions. It works similarly to `if-else` statements in other programming languages.

For this exercise, we will create a `CASE` expression using the `students` and `grades` tables. A `CASE` expression begins with `CASE`, followed by the conditions, and ends with an `ELSE` clause for any unmatched cases.

In this example, we will add a new column called `grade_check` that categorizes students based on their `numeric_score`. The `CASE` expression will classify the grades as follows:

- 'A' for scores of 90 and above
- 'B' for scores between 80 and 89
- 'C' for scores between 70 and 79
- 'F' for scores below 70

Your query should include the following columns: `first_name`, `last_name`, `grade`, `numeric_score`, and the newly created `grade_category`.

In [ ]:
case_expression = """
SELECT students.first_name, students.last_name, grades.grade, grades.numeric_score,
CASE
    WHEN grades.numeric_score >= 90 THEN 'A'
    WHEN grades.numeric_score >= 80 THEN 'B'
    WHEN grades.numeric_score >= 70 THEN 'C'
    WHEN grades.numeric_score >= 60 THEN 'D'
    ELSE 'F'
END AS grade_check
FROM students
INNER JOIN grades ON students.student_id = grades.student_id;
"""

case_result = sql(case_expression)
case_result.head()

  first_name last_name grade  numeric_score grade_check
0       Ryan   Sanchez     A             90           A
1       Ryan   Sanchez     A             93           A
2       Ryan   Sanchez     A             96           A
3       Ryan   Sanchez     A             99           A
4       Ryan   Sanchez     B             84           B

# exercise 5

Subqueries and Advanced Data Management
Objective: Explore subqueries and advanced data management techniques.

Topics:

Subqueries:
- Using subqueries in SELECT, WHERE, and FROM clauses.
- Correlated subqueries.

Views and Indexes:
- Creating and using VIEWs.
- Understanding and creating indexes.

Transactions:
- Introduction to transactions and the BEGIN, COMMIT, and ROLLBACK statements.

# Subquery Example

A subquery (also called an inner query) is a query nested inside another query. The inner query is executed first, and its result is used by the outer query.

Example: Finding the Highest Grade
``` sql
SELECT student_id, numeric_score
FROM grades
WHERE numeric_score = (SELECT MAX(numeric_score) FROM grades);
Explanation: The subquery (SELECT MAX(numeric_score) FROM grades) finds the highest grade in the grades table. The outer query then retrieves the student_id and numeric_score of the student(s) who received that grade.
```

Note: The subquery does not depend on the outer query. It runs independently and returns a single value (the maximum grade) that is used in the outer query.

# Simple Correlated Subquery Example

A correlated subquery depends on the outer query. The inner query is executed once for every row in the outer query, and it references columns from the outer query.

Example: Finding Students with Above-Average Scores
``` sql
SELECT s.student_id, s.first_name, s.last_name
FROM students s
WHERE s.numeric_score > (
    SELECT AVG(g.numeric_score)
    FROM grades g
    WHERE g.student_id = s.student_id);
```

Explanation: The outer query retrieves each student's student_id, first_name, and last_name. The correlated subquery (SELECT AVG(g.numeric_score) FROM grades g WHERE g.student_id = s.student_id) calculates the average score for the specific student from the outer query (s.student_id).

For each row in the students table, the subquery finds the student's average numeric_score from the grades table, and the outer query checks whether the student’s score is greater than that average.

Note: The subquery depends on the outer query because it references s.student_id. It executes once for each student in the outer query.

# Creating a VIEW

## GPA `VIEW`

### Goal

You are tasked with writing a query to calculate the GPA (Grade Point Average) for each student in a school database. The GPA should be based on the average of their `numeric_score` from the `grades` table.

The query should display the following information:
- Student ID
- First Name
- Last Name
- GPA (average `numeric_score`)

### Tables Involved

1. `students(student_id, first_name, last_name, grade_level, email)`
2. `grades(grade_id, student_id, assignment_id, grade, numeric_score)`

Write an SQL query that:
- Joins the `students` and `grades` tables using the `student_id`.
- Calculates the average `numeric_score` for each student.
- Groups the result by `student_id`, so that each student has one row with their GPA.


## Key Functions Used in the Query

1. **`CREATE VIEW`**: This function creates a virtual table based on a query. The view allows you to save and reuse a query without writing it again. In this case, it creates a view called `StudentGPA`.

2. **`SELECT`**: The `SELECT` statement retrieves specific columns of data, including `student_id`, `first_name`, `last_name`, and the calculated GPA (`gpa`).

3. **`AVG()`**: The `AVG()` function calculates the average of the `numeric_score` column for each student. This function is used here to calculate the student's GPA based on their grades.

4. **`JOIN`**: The `JOIN` function combines rows from the `students` table and the `grades` table based on the `student_id` column. This is an **INNER JOIN**, meaning it only returns students who have matching records in the `grades` table.

5. **`GROUP BY`**: This groups the results by `student_id` so that the `AVG()` function calculates the GPA for each student individually.

---

In [ ]:
gpa_view = """
CREATE VIEW StudentGPA AS
SELECT s.student_id, s.first_name, s.last_name, AVG(g.numeric_score) AS gpa
FROM students s
JOIN grades g ON s.student_id = g.student_id
GROUP BY s.student_id;
"""

conn.execute(gpa_view)
conn.commit()

sql("SELECT * FROM StudentGPA")

    student_id first_name  last_name   gpa
0            1       Ryan    Sanchez  78.2
1            2      Emily    Ramirez  80.0
2            3       John      Smith  59.0
3            4        Ava     Harris  81.4
4            5      David   Robinson  69.5
5            6      Sarah     Garcia  83.2
6            7    Brandon   Thompson  66.3
7            8      Chris     Wilson  70.8
8            9       Zach  Hernandez  67.6
9           10       Emma  Rodriguez  71.8
10          11       Alex      Jones  70.5
11          12     Joshua     Miller  63.7
12          13     Olivia      Perez  84.0
13          14       Jane      Brown  56.2
14          15      Chloe   Williams  63.7
15          16    Matthew    Jackson  69.1
16          17        Mia    Johnson  72.6
17          18       Lily      Clark  64.0
18          19      Grace   Gonzalez  79.0
19          20      Laura   Martinez  78.2
20          21     Sophia     Martin  66.9
21          22       Anna      Lewis  70.6
22          23     Robert      Davis  67.9
23          24      Katie      Moore  71.2
24          25    Michael        Lee  78.3
25          26     Andrew     Taylor  52.5
26          27      Tyler      Lopez  72.5
27          28      James     Thomas  72.2
28          29     Daniel      White  75.7
29          30   Isabella   Anderson  66.2

## Report card VIEW

### Goal

You are tasked with creating a query to generate a "report card" view for students in a school database. The view should display the following information:

- Student ID, first name, and last name.
- The numeric scores for the first three assignments as separate columns (`Assignment 1`, `Assignment 2`, `Assignment 3`).
- The average participation grade and average behavior grade for each student.

### Tables Involved

1. `students(student_id, first_name, last_name, grade_level, email)`
2. `grades(grade_id, student_id, assignment_id, grade, numeric_score)`
3. `assignments(assignment_id, assignment_name, due_date)`
4. `participation_behavior(record_id, student_id, attendance, participation_grade, behavior_grade)`

Use SQL functions like `CASE`, `MAX()`, `AVG()`, and `LEFT JOIN` to complete the task. Make sure the result includes all students, even if they are missing some grades or participation records.

---

### Key Functions Used in the Query

1. **`CREATE VIEW`**: This function creates a virtual table based on a query. The view allows the same query to be reused without writing it again. In this case, it creates a view called `ReportCard`.

2. **`SELECT`**: The `SELECT` statement retrieves columns of data, including `student_id`, `first_name`, and `last_name` from the `students` table.

3. **`CASE`**: The `CASE` statement acts like an `IF` statement, allowing conditional logic in SQL. It checks if the `assignment_id` matches a specific value (1, 2, or 3), then returns the `numeric_score` for that assignment.

4. **`MAX()`**: The `MAX()` function is used here to pivot data. It selects the highest value (in this case, the single grade) from the `CASE` statements for each `assignment_id`, effectively turning assignments into columns.

5. **`AVG()`**: This function calculates the average of values, used here to compute the average participation and behavior grades for each student.

6. **`LEFT JOIN`**: The `LEFT JOIN` function ensures all students from the `students` table are included in the results, even if they don’t have matching records in the `grades`, `assignments`, or `participation_behavior` tables.

7. **`GROUP BY`**: This groups the result set by `student_id`, `first_name`, and `last_name`, so the aggregate functions (`MAX()`, `AVG()`) apply to each student.

---

In [ ]:
report_card_view = """
CREATE VIEW ReportCard AS
SELECT
    s.student_id,
    s.first_name,
    s.last_name,
    MAX(CASE WHEN a.assignment_id = 1 THEN g.numeric_score END) AS 'Assignment 1',
    MAX(CASE WHEN a.assignment_id = 2 THEN g.numeric_score END) AS 'Assignment 2',
    MAX(CASE WHEN a.assignment_id = 3 THEN g.numeric_score END) AS 'Assignment 3',
    AVG(pb.participation_grade) AS avg_participation_grade,
    AVG(pb.behavior_grade) AS avg_behavior_grade
FROM
    students s
LEFT JOIN
    grades g ON s.student_id = g.student_id
LEFT JOIN
    assignments a ON g.assignment_id = a.assignment_id
LEFT JOIN
    participation_behavior pb ON s.student_id = pb.student_id
GROUP BY
    s.student_id, s.first_name, s.last_name;
"""

conn.execute(report_card_view)
conn.commit()

sql("SELECT * FROM ReportCard")

,student_id,first_name,last_name,Assignment 1,Assignment 2,Assignment 3,avg_participation_grade,avg_behavior_grade
0,1,Ryan,Sanchez,12,90,84,8.0,6.0
1,2,Emily,Ramirez,88,82,66,7.0,5.0
2,3,John,Smith,73,66,62,5.0,2.0
3,4,Ava,Harris,61,91,82,1.0,9.0
4,5,David,Robinson,48,75,94,6.0,4.0
5,6,Sarah,Garcia,85,88,58,1.0,1.0
6,7,Brandon,Thompson,61,49,82,4.0,1.0
7,8,Chris,Wilson,68,61,83,4.0,3.0
8,9,Zach,Hernandez,71,15,77,2.0,10.0
9,10,Emma,Rodriguez,66,60,90,8.0,5.0
10,11,Alex,Jones,97,6,100,3.0,10.0
11,12,Joshua,Miller,96,77,76,3.0,5.0
12,13,Olivia,Perez,99,68,10,10.0,1.0
13,14,Jane,Brown,2,5,69,10.0,7.0
14,15,Chloe,Williams,97,36,91,4.0,2.0
15,16,Matthew,Jackson,79,0,19,2.0,5.0
16,17,Mia,Johnson,31,70,100,10.0,1.0
17,18,Lily,Clark,92,2,79,9.0,7.0
18,19,Grace,Gonzalez,69,83,82,2.0,9.0
19,20,Laura,Martinez,65,73,80,1.0,7.0
20,21,Sophia,Martin,89,70,99,2.0,7.0
21,22,Anna,Lewis,59,43,85,8.0,3.0
22,23,Robert,Davis,83,66,89,3.0,9.0
23,24,Katie,Moore,67,88,62,10.0,9.0
24,25,Michael,Lee,87,54,97,8.0,7.0
25,26,Andrew,Taylor,60,15,97,6.0,4.0
26,27,Tyler,Lopez,64,84,31,5.0,8.0
27,28,James,Thomas,62,81,66,8.0,10.0
28,29,Daniel,White,95,76,68,6.0,1.0
29,30,Isabella,Anderson,87,89,1,6.0,3.0

### What are Views?

A `view` is a virtual table in a database, created by writing a query that selects data from one or more underlying tables. Unlike regular tables, views do not store data themselves but instead dynamically display results from the underlying data when queried. You can think of a view as a saved SQL query that can be reused just like a table.

When you create a `view`, it’s like taking a snapshot of a specific query, which can then be referenced by name, making it easier to work with complex queries or repeated data needs.

Why Use Views?

- Simplification of Complex Queries: Views help simplify complex queries by allowing you to store the query logic. Instead of writing a long query repeatedly, you can reference the view, which saves time and reduces errors.

  - For example, our report card query is long and uses a a lot of logic. We would use it often so it would be a great use case.

- Security: Views can provide an additional layer of security. By restricting access to certain columns or rows in a table, views allow you to expose only the data a user needs to see.

  - For example, you might create a view that hides sensitive data, such as emails or personal information, while still allowing access to essential details like grades or attendance.

- Consistency: Views ensure that any repetitive business logic or complex calculations are performed consistently every time. This eliminates the risk of inconsistencies if different users write queries differently to access the same information.

- Performance: In some cases, views can improve performance by predefining complex joins or calculations. This can make querying faster, especially for commonly used queries.

# Indexes

### What is an Index in SQL?
An `index` in SQL is like a "shortcut" that helps the database find data faster. Instead of scanning the entire table, the database can use the index to quickly locate the rows it needs.

### Why Use Indexes?
- Faster Searches: If you frequently search for specific data (like finding a student by student_id), an index can speed up the process.
- Improved Sorting: When you sort or filter data (e.g., by last_name), an index helps the database do it more efficiently.
- Better Performance for Joins: When joining tables (e.g., matching students to their grades), an index can make this process faster.

How to Create an Index
You can create an index on a column (or multiple columns) in a table to improve performance.

**Syntax:**
``` sql
CREATE INDEX index_name ON table_name (column_name);
```
Example: Creating an Index on student_id
``` sql
CREATE INDEX idx_student_id ON students (student_id);
```
**Explanation:**
This creates an `index` on the student_id column of the students table. Now, any query that searches for a student by student_id will be faster.
Considerations for Indexes
Indexes Speed Up Queries: They are helpful when searching, filtering, or sorting data.
Indexes Use Extra Storage: They take up space in the database.
Indexes Slow Down Updates: When adding, updating, or deleting data, the index also needs to be updated, which can slow things down slightly.
When to Use Indexes
Create indexes on columns that are frequently used in WHERE clauses (e.g., student_id).
Avoid creating too many indexes because they require extra space and can slow down data changes.
Example Query Using an Index:
Suppose you have a grades table and frequently search by student_id. Creating an index on student_id makes these searches faster:

sql
Copy code
CREATE INDEX idx_grades_student_id ON grades (student_id);
Indexes help make your database more efficient, especially for large datasets. Just remember to use them wisely to avoid performance issues!